# Python
venv/
__pycache__/
*.pyc
*.pyo
*.db
*.db-shm
*.db-wal

# Storage
storage/uploads/
storage/clips/
storage/outputs/

# Node
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini